extends layout

block content
  #content
    h2 Create User
    
    #createUser
      fieldset
        input#inputNewEmail(type='text', placeholder='Email')
        br
        input#inputNewPassword(type='text', placeholder='Password')
        br
        button#btnCreateUser Create User
